form {
    border-radius: 200px;
}
body {
    color: rgb(0, 0, 0);
    background-color: rgb(198, 202, 255);
}

a:visited {
    color: rgb(30, 52, 29);
    font-size: smaller;
}

a:hover {
    color: rgb(69, 4, 131);
}

a:active {
    color: rgb(34, 66, 28);
}

a:link {
    text-decoration: none;
}


h1,
h2,
h3.diseñoh {
    color: rgb(89, 44, 252);
    background-color: rgb(173, 162, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}